.header{
    display: flex;
    justify-content: space-between;
    color:maroon;
    text-align: center;    
    
}

.menu{

    display: flex;
    justify-content: flex-end ;
   font-size: 50px;
    font-family: sans-serif;
    font-weight: 900;
    color: goldenrod;
}

.bodyImg{
    display: flex;
    justify-content: space-between;
  
  
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.item{
    border: plum;
    border-radius: 20px;
    width: 310px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    
}

.origami{
  background-image: url(background.jpg);
  border:solid;
  border-color:  purple;
  border-width: 10px;
}

.grid img{
    border: 2px solid yellow;
    border-radius: 50px;
    
 
}
